*{
    padding: 0;
    margin: 0;
    font-family:Arial;
}

header{
    background-color: rgb(49, 47, 47);
    color: white;
    padding:1rem 0;
    font-size: xx-large;
    text-align: center;
}

body{
    background-color:beige;
}
main{
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
}
#about{
    line-height: 1.6;
    
}
footer{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding:1rem 0;
    text-align: center;
    background-color: rgb(43, 43, 43);
    color: white;
    
}